<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Name='FBG UI' Manufacturer='Kyton LLC.'
        Id='31e5d2fc-7235-4c0d-a071-6ea90a2b2929'
        UpgradeCode='20d6e99a-d715-40a8-ba92-fb3991183925'
        Language='1033' Codepage='1252' Version='1.0.0'>
    <Package Id='*' Keywords='Installer' Description="Installer for FBG UI program."
        Comments='Baking and Calibration program for Kyton LLC.' Manufacturer='Kyton LLC.'
        InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />
    <Media Id='1' DiskPrompt='CD-ROM #1' />
    <Property Id='DiskPrompt' Value="FBGUI Installation [1]" />
    <Directory Id='TARGETDIR' Name='SourceDir'>
        <Directory Id='ProgramFilesFolder' Name='PFiles'>
            <Directory Id='Kyton' Name='Kyton'>
                <Directory Id='INSTALLDIR' Name='FbgUI'>
                    <Component Id='MainExecutable' Guid='c88cd63b-18d1-4508-ac3e-8101c8f47b9b'>
                        <File Id='FBGUIEXE' Name='FbgUI.exe' DiskId='1'
                              Source='C:\Users\Emmet\source_code\KytonUI\dist\fbgui\fbgui.exe' KeyPath='yes'>
                            <Shortcut Id="startmenuFbgUI" Directory="ProgramMenuDir" Name="FbgUI"
                                      WorkingDirectory='INSTALLDIR' Icon="FbgUI.exe" IconIndex="0" Advertise="yes" />
                            <Shortcut Id="desktopFoobar10" Directory="DesktopFolder" Name="FbgUI"
                                      WorkingDirectory='INSTALLDIR' Icon="FbgUI.exe" IconIndex="0" Advertise="yes" />
                        </File>
                    </Component>

                    <Component Id='HelperLibrary' Guid='YOURGUID-6BE3-460D-A14F-75658D16550B'>
                        <File Id='HelperDLL' Name='Helper.dll' DiskId='1' Source='Helper.dll' KeyPath='yes' />
                    </Component>

                    <Component Id='Manual' Guid='YOURGUID-574D-4A9A-A266-5B5EC2C022A4'>
                        <File Id='Manual' Name='Manual.pdf' DiskId='1' Source='Manual.pdf' KeyPath='yes'>
                            <Shortcut Id='startmenuManual' Directory='ProgramMenuDir' Name='Instruction Manual' Advertise='yes' />
                        </File>
                    </Component>
